
* {
  box-sizing: border-box;
}


html {
  background-color: #fff;
}

.ant-menu-item-group-title {
  height: unset !important;
}

body {
  margin: 0;
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica,
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}